// fontsParams
$fontFamily: "Barlow-Light";
$bigFontSize: 2vw;
$mediumFontSize: 1.5vw;
$smallFontSize: 1vw;
$letterSpacing: 0.1em;

// margin and paddings
$distanceValue: 0.5em;
$gapValue: 3%;

// colors
$earieBlack: #1d1d1d;
$raisinBlack: #202531;
$gainsboro: #dedee2;
$persianGreen: #009e92;
$maizeCrayola: #f5c447;

$boxShadowValues: 1px 1px 3px 1px $persianGreen;
$boxShadowAnimatedValues: 0px 0px 2px 1px $persianGreen;
