// fontsParams
$fontFamily: "Barlow-Light";
$bigFontSize: 2vw;
$mediumFontSize: 1.5vw;
$smallFontSize: 1vw;
$letterSpacing: 0.1em;

// margin and paddings
$distanceValue: 0.5em;
$gapValue: 3%;

// colors
$azure: #e3f2f1;
$lightCyan: #cadfde;
$oldLace: #f8eedc;
$lightSeaGreen: #18b3a7;
$goldenrod: #d6a217;
$feldgrau: #425c5a;
$darkSlateGray: #3d5654;
$boxShadowValues: -2px 2px 5px 2px $feldgrau;
$boxShadowAnimatedValues: 0px 0px 0px 1px $feldgrau;
